body{
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: black;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #F3F4FA;
}

.bg-nav-blue{
    z-index: 999999;
    padding-top: 0.2rem!important;
    padding-bottom: 0.2rem!important;
    transition-duration: 1000ms;
    background-color: rgba(42, 42, 114, 0.98);
}

.bg-nav-transparan{
    /* margin-top: 1.5rem!important; */
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    /* transition-duration: 1000ms; */
    background-color: rgba(255, 255, 255, 0);
}

.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
  

.img-hover-zoom img {
    transition: transform .5s ease-in-out;
}
  
  
.img-hover-zoom:hover img {
    transform: scale(1.16) rotate(10deg);
}

a:hover{
    text-decoration: none;
}

@font-face {
    font-family: poppins;
    src: url('../font/Poppins-Regular.ttf');
}

.banner-one{
    background-image: url('../img/bg.png');
    width: 100%;
    height: 1365px;
    background-position: left top;
    background-repeat: no-repeat;
}

.banner-one-detail{
    background-image: url('../img/bg.png');
    width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
}


.banner-content h1{
    font-weight: 700;
    font-size: 3.4rem;
    color: white;
}


.banner-content p{
    font-weight: 400;
    font-size: 16px;
    color: white;
}


.banner-content{
    top: 150px;
}

.animasi-img-2{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.animasi-img-1{
    -webkit-animation: mover2 3s infinite  alternate;
    animation: mover2 1s infinite  alternate;
}


.navbar-nav .nav-item .nav-link{
    font-weight:600;
    font-size: 16px;
    color: white;
}

.navbar-nav li a:hover{
    color: red;
    border-bottom: 2px solid #f433a2;
}

.navbar-nav .active{
    border-bottom: 2px solid #f433a2;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

@-webkit-keyframes mover2 {
    0% { transform: scale(0.8); }
    100% { transform: scale(0.9); }
    
}

/* Custom Carousel */
/* xl */
@media (min-width: 1200px){
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199px){
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}

/* md */
@media (min-width: 768px) and (max-width: 991px){

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(42%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-42%);
    }
}

/* sm */
@media (min-width: 576px) and (max-width: 767px){

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(58%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-58%);
    }
}


/* xs */
@media (max-width: 575px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(83%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-83%);
    }
    /* .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    } */
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.btn-aktif{
    width:160px;
    font-size:18px;
    font-weight:600;
    background-image: linear-gradient(315deg, #17009F 0%, #078BE6 95%);
}

.btn-default{
    width:160px;
    font-size:18px;
    font-weight:600;
    background-color: #049BE1;
}

.btn-default:hover{
    width:160px;
    font-size:18px;
    font-weight:600;
    background-image: linear-gradient(315deg, #17009F 0%, #078BE6 95%);
}